alembic==1.7.5
astroid==2.8.5
black==21.11b2.dev1+g9a73bb8
bleach==4.1.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
docutils==0.18
Flask==1.1.0
flask-app==1.0.1
Flask-Cors==3.0.10
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.0
Flask-Testing==0.7.1
flask-unittest==0.1.2
greenlet==1.1.2
idna==3.3
importlib-metadata==4.8.2
importlib-resources==5.4.0
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy==1.6.0
Mako==1.1.6
MarkupSafe==2.0.1
mccabe==0.6.1
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
pkginfo==1.8.0
platformdirs==2.4.0
psycopg2-binary==2.8.3
Pygments==2.10.0
pylint==2.11.1
pyparsing==3.0.6
python-dotenv==0.10.3
readme-renderer==30.0
regex==2021.11.10
requests==2.26.0
requests-toolbelt==0.9.1
six==1.16.0
SQLAlchemy==1.4.27
toml==0.10.2
tomli==1.2.2
tqdm==4.62.3
twine==1.13.0
typed-ast==1.5.0
typing-extensions==4.0.0
urllib3==1.26.7
webencodings==0.5.1
Werkzeug==2.0.2
wrapt==1.13.3
zipp==3.6.0
